<template>
  <div class="min-h-screen flex-col flex justify-center items-center container mx-auto">
    <h1 class="text-4xl font-bold text-gray-900 mb-3">
      Todos
    </h1>
    <div class="inline-flex space-x-2 mb-4">
      <button @click="createTodo" class="bg-blue-500 text-white px-2 py-1 rounded-md">Add Todo</button>
      <button @click="editTodo" class="bg-green-500 text-white px-2 py-1 rounded-md">Edit</button>
      <button @click="removeTodos" class="bg-red-500 text-white px-2 py-1 rounded-md">Delete</button>
    </div>
    <div class="inline-flex space-x-2 mb-4">
      <button @click="markComplete(true)"
        class="text-white bg-gradient-to-r from-green-400 to-green-600 hover:from-green-500 hover:to-green-700 px-2 py-1 rounded-md">
        Mark as Complete
      </button>
      <button @click="markComplete(false)"
        class="text-white bg-gradient-to-r from-pink-400 to-pink-600 hover:from-pink-500 hover:to-pink-700 px-2 py-1 rounded-md">
        Mark as Incomplete
      </button>
    </div>

    <!-- Error message -->
    <div v-if="error" class="text-red-500 mb-4">{{ error }}</div>


    <!-- Modal -->
    <div v-if="showModal" class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex items-center justify-center min-h-screen">
        <div class="relative bg-white w-96 rounded-lg shadow-xl">
          <div class="absolute top-0 right-0 p-2">
            <button @click="showModal = false" class="text-gray-500 hover:text-gray-700 focus:outline-none">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <div class="p-8">
            <h1 class="text-xl font-bold mb-4">Create New Todo</h1>
            <form @submit.prevent="handleSubmit">
              <div class="mb-4">
                <label for="title" class="block text-gray-700">Title:</label>
                <input type="text" id="title" v-model="newTodo.title" class="w-full border rounded-md py-2 px-3">
              </div>
              <div class="mb-4">
                <label for="description" class="block text-gray-700">Description:</label>
                <textarea id="description" v-model="newTodo.description"
                  class="w-full border rounded-md py-2 px-3"></textarea>
              </div>
              <div class="mb-4">
                <label for="status" class="block text-gray-700">Status:</label>
                <select id="status" v-model="newTodo.done" class="w-full border rounded-md py-2 px-3">
                  <option value="0">Incomplete</option>
                  <option value="1">Complete</option>
                </select>
              </div>
              <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">{{ editingTodo ? 'Update' :
        'Add' }} Todo</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    <DataTable ref="table" class="display nowrap responsive" :columns="columns" :data="formattedTodos"
      :options="{ select: true }">
    </DataTable>

    <p class="mt-4 text-sm text-gray-600 text-center">
      To edit or delete a todo, select one and then click on the corresponding button.
      <br>
      You can delete multiple todos by
      selecting them all and then clicking the delete button.
    </p>

  </div>
</template>
<script>
import axios from 'axios'
import DataTable from 'datatables.net-vue3';
import DataTablesLib from 'datatables.net';
import 'datatables.net-select';

DataTable.use(DataTablesLib);



export default {
  name: 'HomeView',
  data() {
    return {
      todos: [],
      error: '',
      dt: null,
      editingTodo: false,
      newTodo: {
        title: '',
        description: '',
        done: 0
      },
      columns: [
        { title: 'ID', data: 'id' },
        { title: 'Title', data: 'title' },
        { title: 'Description', data: 'description' },
        {
          title: 'Status',
          data: null,
          render: function (data, type, row) {
            return `<span class="${row.doneClass}">${row.doneText}</span>`;
          }
        }
      ],
      showModal: false,
    }
  },
  components: {
    DataTable
  },
  computed: {
    formattedTodos() {
      return this.todos.map(todo => {
        return {
          ...todo,
          doneText: todo.done === 1 ? 'Completed' : 'Incomplete',
          doneClass: todo.done === 1 ? 'bg-green-100 px-2 py-0.5 rounded-full text-green-500' : 'bg-red-100 px-1 py-0.5 rounded-full text-red-500'
        };
      });
    }
  },
  methods: {
    handleSubmit() {
      if (this.editingTodo) {
        this.updateTodo()
      } else {
        this.addTodo()
      }
    },
    createTodo() {
      this.showModal = true;
      this.editingTodo = false;
    },
    editTodo() {
      const selectedRows = this.$refs.table.dt.rows({ selected: true }).indexes();
      if (selectedRows.count() === 1) {
        const rowData = this.$refs.table.dt.row(selectedRows[0]).data();
        this.newTodo = { ...rowData };
        this.showModal = true;
        this.editingTodo = true;
        this.error = '';
      } else {
        console.log("🚀 ~ selectedRows:", selectedRows)
        this.error = 'Please select only one todo for editing';
      }
    },
    async getTodos() {
      try {
        // TODO: move the url + port to the .env variable
        const { data } = await axios.get('http://127.0.0.1:8000/api/todos')
        this.todos = data.data
        this.initDataTable()
      } catch (error) {
        console.error(error)
      }
    },
    initDataTable() {
      this.dt = this.$refs.table.dt;
    },
    async markComplete(isComplete) {
      const selectedRows = this.$refs.table.dt.rows({ selected: true }).indexes();
      selectedRows.each(async (index) => {
        try {
          const todo = this.$refs.table.dt.row(index).data();
          todo.done = isComplete ? 1 : 0;
          await axios.put(`http://127.0.0.1:8000/api/todos/${todo.id}`, todo);
          this.todos.splice(index, 1, todo);
        } catch (error) {
          console.error(error);
        }
      });
    },
    async addTodo() {
      try {
        //TODO: move the (url + port) to .env
        const response = await axios.post('http://127.0.0.1:8000/api/todos', this.newTodo);
        const newTodoFromServer = response.data;
        console.log("🚀 ~ newTodoFromServer:", newTodoFromServer)
        this.todos.push(newTodoFromServer);
        this.newTodo = { title: '', description: '', done: 0 };
        this.showModal = false;
      } catch (error) {
        console.error(error);
      }
    },
    async updateTodo() {
      try {
        // TODO: move the url + port to the .env variable
        const response = await axios.put(`http://127.0.0.1:8000/api/todos/${this.newTodo.id}`, this.newTodo);
        const updatedTodoFromServer = response.data;
        console.log("🚀 ~ updatedTodoFromServer:", updatedTodoFromServer)
        const index = this.todos.findIndex(todo => todo.id === updatedTodoFromServer.id);
        this.todos.splice(index, 1, updatedTodoFromServer);
        this.showModal = false;
        this.newTodo = { title: '', description: '', done: 0 };
      } catch (error) {
        console.error(error);
      }
    },
    async removeTodos() {
      const selectedRows = this.$refs.table.dt.rows({ selected: true }).indexes();
      selectedRows.each(async (index) => {
        try {
          const rowData = this.$refs.table.dt.row(index).data();
          const todoId = rowData.id;
          // TODO: move the url + port to the .env variable
          await axios.delete(`http://127.0.0.1:8000/api/todos/${todoId}`);
          this.$refs.table.dt.row(index).remove().draw();
          this.todos.splice(index, 1);
        } catch (error) {
          console.error(error);
        }
      });
    }
  },
  mounted() {
    this.getTodos()
  }
}
</script>

<style>
@import 'datatables.net-dt';
</style>
